*
*/

# Base
!.gitignore
!README.md
!CHANGELOG.md

# Constraints
!Constraints/
!Constraints/*.xdc

# Datasheet
!Datasheet/
!Datasheet/*.pdf

# Sources
!Sources/
!Sources/*/
!Sources/**/*.vhd

# Bench
!Bench/
!Bench/*.vhd
